body {
    font-size: 11px;
}

.page-break {
    page-break-after: always;
}

.title {
    background-color: rgb(78, 78, 78);
    color: white;
    font-weight: bold;
}

.alt-title {
    background-color: rgb(78, 78, 78);
    color: white;
    font-weight: bold;
    padding-top: 1px;
}

.centered {
    text-align: center;
}

.terms-and-conditions {
    font-size: 8px;
    font-family: monospace;
    text-align: justify;
    text-justify: inter-word;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}